<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改封样件数据')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-sample-edit" th:object="${sealedSample}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">物料名称：</label>
                <div class="col-sm-8">
                    <input name="sealedSample" th:field="*{sealedSample}" class="form-control" type="text" required autocomplete="off">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">零件号：</label>
                <div class="col-sm-8">
                    <input name="eightD" th:field="*{eightD}" class="form-control" type="text" required autocomplete="off" placeholder="例:A1234567、12345678">
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-3 control-label is-required">样件位置：</label>
                <div class="col-sm-8">
                    <input name="sampleLocation" th:field="*{sampleLocation}" class="form-control" type="text"  placeholder="例：A1-1-1" required autocomplete="off">
<!--                    <input name="sampleLocation" th:field="*{sampleLocation}" class="form-control" type="text" data-rule="^[A-Z](?:[1-9]|[1-9][0-9]|100)-(?:[1-9]|[1-9][0-9]|100)-(?:[1-9]|[1-9][0-9]|100)$" data-msg="请按照例子输入！" placeholder="例：A1-1-1" required autocomplete="off">-->
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">供应商：</label>
                <div class="col-sm-8">
                    <input name="supplier" th:field="*{supplier}" class="form-control" type="text" autocomplete="off">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">供应商号：</label>
                <div class="col-sm-8">
                    <input name="supplyHouse" th:field="*{supplyHouse}" class="form-control" type="text" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">业务：</label>
                <div class="col-sm-8">
                    <select name="business" th:field="*{business}" class="form-control">
                        <option value="奔驰">奔驰</option>
                        <option value="大众">大众</option>
                        <option value="现代">现代</option>
                        <option value="长城">长城</option>
                        <option value="丰田">丰田</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">图纸日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="drawingTime" th:value="${#dates.format(sealedSample.drawingTime, 'yyyy-MM-dd')}" class="form-control" placeholder="YYYY-MM-DD" type="text" autocomplete="off">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">封样日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="sealedSampleTime" th:value="${#dates.format(sealedSample.sealedSampleTime, 'yyyy-MM-dd')}" class="form-control" placeholder="YYYY-MM-DD" type="text" autocomplete="off">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">样件复检周期(年)：</label>
                <div class="col-sm-8">
                    <input name="sampleIndate" th:field="*{sampleIndate}" class="form-control" readonly>
<!--                    <select name="sampleIndate" th:field="*{sampleIndate}" class="form-control">-->
<!--                        <option value="3">3</option>-->
<!--                        <option value="5">5</option>-->
<!--                    </select>-->
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">样件到期日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
<!--                        <input name="sealedSampleDue" th:value="${#dates.format(sealedSample.sealedSampleDue, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" autocomplete="off">-->

<!--                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
                    </div>
                    <input name="sealedSampleDue" th:field="*{sealedSampleDue}" class="form-control" type="text" autocomplete="off" readonly >
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">距到期还有(天)：</label>
                <div class="col-sm-8">
                    <input name="remainingTime" th:field="*{remainingTime}" class="form-control" type="text" autocomplete="off" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">实际复检日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="recheckTime" th:value="${#dates.format(sealedSample.recheckTime, 'yyyy-MM-dd')}" class="form-control" placeholder="YYYY-MM-DD" type="text" autocomplete="off">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="notes" class="form-control">[[*{notes}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">上传的图片：</label>
                <div class="col-sm-8">
                    <input type="hidden" name="images" th:field="*{images}">
                    <div class="file-loading">
                        <input class="form-control file-upload" id="images" name="file" type="file">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script th:inline="javascript" >
        var prefix = ctx + "cs/sample";
        $("#form-sample-edit").validate({
            onkeyup: false,
            rules:{
                eightD:{
                    remote: {
                        url: prefix + "/checkEightDUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "eightD": function() {
                                return $.common.trim($("input[name='eightD']").val());
                            }
                        }
                    }
                },
                sampleLocation:{
                    remote: {
                        url: prefix + "/checkSampleLocationUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "sampleLocation": function() {
                                return $.common.trim($("input[name='sampleLocation']").val());
                            }
                        }
                    }
                },
            },
            messages: {
                "eightD": {
                    remote: "零件号已经存在！"
                },
                "sampleLocation": {
                    remote: "位置已经被零件占用！"
                }
            },
            focusCleanup: true
        });

        function submitHandler() {

            //比较图纸日期和封样件日期，封样件日期不能小于图纸日期，并且不能大于当前时间
            var drawingTime = $("input[name='drawingTime']").val();
            var start = new Date(drawingTime.replace("-", "/").replace("-", "/"));
            var sealedSampleTime = $("input[name='sealedSampleTime']").val();
            var mid = new Date(sealedSampleTime.replace("-", "/").replace("-", "/"));
            var nowTime = moment();
            if (mid < start || mid > nowTime) {
                alert("封样日期选择不符合要求，不能小于图纸时间且不能大于当前系统时间！");
                // return false;
                $('input[name=\'sealedSampleTime\']').val('');
            }else if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-sample-edit').serialize());
            }
        }

        //图纸日期
        $("input[name='drawingTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });


        //零件号输入框的校验
        $("input[name='eightD']").blur(function () {
            var pattern = /^[a-zA-Z0-9]{8}$/;
            var input_val = $(this).val();
            if(input_val !== "" && pattern.test(input_val)){
                // 符合规则，不做任何操作
            } else {
                // 不符合规则，清空输入框并给出提示信息

                alert("输入不符合规则！");
                $(this).val("");

            }
        })

        //样件位置输入框的校验
        $("input[name='sampleLocation']").blur(function () {
            var pattern = /^[A-Z](?:[1-9]|[1-9][0-9]|100)-(?:[1-9]|[1-9][0-9]|100)-(?:[1-9]|[1-9][0-9]|100)$/;
            var input_val = $(this).val();
            if(input_val !== "" && pattern.test(input_val)){
                // 符合规则，不做任何操作
            } else {
                // 不符合规则，清空输入框并给出提示信息

                alert("输入不符合规则！");
                $(this).val("");

            }
        })


        $(function () {


            //封样件时间
            $("input[name='sealedSampleTime']").datetimepicker({
                dateformat: "yyyy-mm-dd",
                minView: "month",
                autoclose: true,
            });



            //选则日期和改变日期的时候触发事件
            $("input[name='sealedSample'],input[name='sealedSampleTime'],input[name='sampleIndate'],input[name='sealedSampleDue']").change(function(){



                //比较图纸日期和封样件日期，封样件日期不能小于图纸日期，并且不能大于当前时间
                var drawingTime = $("input[name='drawingTime']").val();
                var start = new Date(drawingTime.replace("-", "/").replace("-", "/"));
                var sealedSampleTime = $("input[name='sealedSampleTime']").val();
                var mid = new Date(sealedSampleTime.replace("-", "/").replace("-", "/"));
                var nowTime = moment();
                if (mid < start || mid > nowTime) {
                    alert("封样日期选择不符合要求，不能小于图纸时间且不能大于当前时间！");
                    // return false;
                    $('input[name=\'sealedSampleTime\']').val('');
                }

                //根据零件名称自动显示出零件到期周期
                var conditionsT = ["端子", "卡环", "压接筒", "环形端子", "导线", "屏蔽线"];
                var conditionsF = ["波纹管", "塑件", "扎带", "卡钉", "管夹", "盖子", "盲栓", "锁片", "橡胶件", "支架", "半成品", "PVC套管", "水管", "编织管", "密封圈", "保险丝", "螺帽螺栓", "热缩管", "继电器", "电阻", "电容", "电子锁", "二极管", "PCBA", "其他特殊类"];
                var conditionsO = ["油脂", "胶带类", "发泡材料", "防水泥"];
                var sealedSampleValue = $("input[name='sealedSample']").val();// 获取其他输入框的值
                if (conditionsT.includes(sealedSampleValue)){
                    $("input[name='sampleIndate']").val(3);
                }else if (conditionsF.includes(sealedSampleValue)||sealedSampleValue.includes("橡")){
                    $("input[name='sampleIndate']").val(5);
                }else if (conditionsO.includes(sealedSampleValue)||sealedSampleValue.includes("胶带")){
                    $("input[name='sampleIndate']").val("N/A");
                }

                //根据封样日期和样件周期自动算出样件到期日期,通过改变封样时间触发样件到期时间。通过改变 样件周期 触发样件到期时间。
                var sealed_sample_time = $("input[name='sealedSampleTime']").val();//获取封样日期的时间
                var year = new Date(sealed_sample_time).getFullYear();// 获取封样日期年份
                var year_num = parseInt(year);//将字符串转化成int型
                var month = new Date(sealed_sample_time).getMonth()+1;// 获取封样日期月份，需要加1
                if (month<10){
                    month = '0'+month;
                }
                var day = new Date(sealed_sample_time).getDate();// 获取封样日期日期
                if (day<10){
                    day = '0'+day;
                }
                // var sample_indate = $("select[name='sampleIndate']").val();//获取样件复检周期
                var sample_indate = $("input[name='sampleIndate']").val();//获取样件复检周期
                if (sealed_sample_time != null && sample_indate != null){//判断封样日期和样件复检周期是否有值
                    if (sample_indate != "N/A"){
                        var sample_indate_num = parseInt(sample_indate);
                        var new_year = year_num + sample_indate_num;//年份加上周期
                        var new_year_string = new_year.toString();
                        var sealed_sample_due = `${new_year_string}-${month}-${day}`;// 使用模板字符串将年月日拼接成日期字符串
                        $("input[name='sealedSampleDue']").val(sealed_sample_due);//更新到样件到期日期
                    }else if (sample_indate == "N/A"){
                        $("input[name='sealedSampleDue']").val(null);//更新到样件到期日期
                    }

                }

                function updateCurrentTime() {

                    if ($("input[name='sampleIndate']").val() == "N/A"){
                        $("input[name='remainingTime']").val(null);
                    }else{
                        //现在时间距样件到期时间有多少天
                        var startDate = moment().format('YYYY-MM-DD');//获取当前时间
                        console.log('当前时间 ' + startDate);
                        var endDate = moment($("input[name='sealedSampleDue']").val());//获取样件到期时间
                        console.log('到期时间 ' + endDate);
                        var days = endDate.diff(startDate, 'days');//使用 diff() 方法来计算指定日期和当前日期之间的天数差
                        $("input[name='remainingTime']").val(days);//更新到距今还有多少天输入框
                        setTimeout(updateCurrentTime, 1000);// 每秒更新一次,通过这种方式，每次更新当前时间后，我们都会调用 setTimeout() 函数并递归调用自身，实现了实时监听当前时间的效果。而在第一次调用 setTimeout() 函数时，我们需要手动调用一次 updateCurrentTime() 函数，以触发递归调用的开始。
                        // requestAnimationFrame(updateCurrentTime); //由于渲染循环的默认间隔是每秒60帧，因此，updateCurrentTime() 函数的调用频率也会约为每秒60次。
                    }

                    // updateCurrentTime();
                }
                // setInterval(updateCurrentTime, 1000); // 每秒更新一次,在上述代码中，我们定义了一个名为 updateCurrentTime() 的函数，用来获取当前时间并打印到控制台中。接着，使用 setInterval() 函数每秒调用一次 updateCurrentTime() 函数，实现实时更新当前时间的效果
                updateCurrentTime();

            })

        });

        $(function() {
            $('input[data-rule]').on('focusout', function() {
                var $this = $(this);
                var rule = new RegExp($this.data('rule'));
                if (!rule.test($this.val())) {
                    alert($this.data('msg'));
                }
            });
        });


        // $("input[name='sealedSampleDue']").datetimepicker({
        //     format: "yyyy-mm-dd",
        //     minView: "month",
        //     autoclose: true
        // });


        //复检时间
        $("input[name='recheckTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $(".file-upload").each(function (i) {
            var val = $("input[name='" + this.id + "']").val()
            $(this).fileinput({
                'uploadUrl': ctx + 'common/upload',
                initialPreviewAsData: true,
                initialPreview: [val],
                maxFileCount: 1,
                autoReplace: true
            }).on('fileuploaded', function (event, data, previewId, index) {
                $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
            }).on('fileremoved', function (event, id, index) {
                $("input[name='" + event.currentTarget.id + "']").val('')
            })
            $(this).fileinput('_initFileActions');
        });
    </script>
</body>
</html>